<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2><a href='https://pre-prod.wesend.com'>Welcome to WeSend MobileAPP</a></h2>
    <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBXlBXPhbvqtgxxxKPWPZf6aUG7apcXCEg
      &q=Space+Needle,Seattle+WA" allowfullscreen>
  </iframe>
  <div class='container-fluid'>
    <div class='panel panel-primary'>
      <div class='panel-heading'>Test</div>
      <div class='panel-body'>qdf,b,nsbsbsdb</div>
    </div>
    
  </div>
  </ion-content>
</ion-view>
